{% extends "bootstrap/base.html" %}
    {% block styles -%}
    {{super()}}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% endblock styles %}
    {% block scripts %}
<!--<script src="{{url_for('.static', filename='myscripts.js')}}"></script>-->
    {{super()}}
    {% endblock %}
        {% block title %}
      {% if title %}
      {{ title }}
      {% else %}
      AirShows.pro
      {% endif %}
        {% endblock %}

            {% block navbar %}
            <nav class="navbar navbar-default navbar-fixed-top">
            <a href="{{ url_for('index') }}">Explore</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('my_events') }}">My events</a>
            <a href="{{ url_for('new_event') }}">New event</a>
            <a href="{{ url_for('new_location') }}">New location</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% endblock %}

        {% block content %}
        <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
        </div>
    {% endblock %}