{% extends "base.html" %}

{% block content %}
<h1>{{ _('Event:') }} {{ event.name }}</h1>
{% if event.from_ts %}<p>{{ _('From:') }} {{ event.from_ts }}</p>{% endif %}
{% if event.to_ts %}<p>Till: {{ event.to_ts }}</p>{% endif %}

{% if event.desc %}
<h3>{{ _('Description') }}</h3>
<p>
    {{ event.desc }}
</p>
{% endif %}

<b>Location:</b> {{ event.location_name, event.city, event.country }}

{% if not current_user.is_anonymous %}
{% if not current_user.is_planning(event) %}
<p><a href="{{ url_for('plan', event_id=event.id) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Plan</a></p>
{% else %}
<p><a href="{{ url_for('unplan', event_id=event.id) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Unplan</a></p>
{% endif %}
{% else %}
<p>
    Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a> to plan events.
</p>
{% endif %}
{% endblock %}