{% extends "base.html" %}

{% block content %}
<h1>Event: {{ event.name }}</h1>
{% if event.from_ts %}<p>From: {{ event.from_ts }}</p>{% endif %}
{% if event.to_ts %}<p>Till: {{ event.to_ts }}</p>{% endif %}

{% if event.desc %}
<p>
    <b>
        About:
    </b>
</p>
<p>
    {{ event.desc }}
</p>
{% endif %}

<b>Location:</b> {{ event.location, event.city, event.country }}

{% if not current_user.is_planning(event) %}
<p><a href="{{ url_for('plan', event_id=event.id) }}">Plan</a></p>
{% else %}
<p><a href="{{ url_for('unplan', event_id=event.id) }}">Unplan</a></p>
{% endif %}
{% endblock %}