{% extends "base.html" %}

{% block content %}
<h1>{{ _('Location:') }} {{ location.name }}</h1>

{% if location.desc %}
<h3>{{ _('Description') }}</h3>
<p>
    {{ location.desc }}
</p>
{% endif %}

{% if events %}
{% for event in events %}
<tr>
    <td width="70px">
        <a href="{{ url_for('show_event', event_id=event.id) }} ">{{ event.name }}</a>
    </td>
    <td width="70px">
        {{ event.from_ts }}
    </td>
    <td width="70px">
        {{ event.to_ts }}
    </td>
    <td>
        {{ event.desc }}
    </td>
    <td>
        {{ event.city }}
    </td>
    <td>
        {{ event.country }}
    </td>
    <td>
        {{ event.location }}
    </td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}